footer{
    background-color: #f3f3f3;
    padding: 15px 0;
}

.titleWeb{
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(0,0,0,.4);
    /* remove underline */
    text-decoration: none;
    color: #5cb85c;
    padding-left: 10px;
}

.titleWeb:hover{
    color: #5cb85c;
    text-decoration: underline;
}

.NavLink{
    color: rgba(0,0,0,.4);
    /* remove under */
    text-decoration: none;
}

.active{
    color: rgba(0,0,0,1);
}

.avatar-header{
    display: flex;
    align-items: center;
}

.user-image-header{
    height: 26px;
    width: 26px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 3px;
}